<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Fitness</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen and (max-width:1200px)" href="/static/phone.css">
    <link rel="stylesheet" href="/static/index.css">
   
    
</head>







<body>
    <div class="home">
        <nav>
            <ul>
                <li style=" float: left; "><a href="#" style=" font-family: 'Bangers', cursive; font-size: 3.5rem; margin-left: 9.3rem; color: white;
                padding: 2rem 2rem;">ACTIVE FITNESS </a><img src="/static/img/logo.jpeg" style="height: 9rem; margin-top: -7.8rem; margin-left: .5rem; z-index: 0;"></li>
                <li><a href="/admission" style="margin-right: 9rem;" id="nav">For Admission</a></li>
                <li><a href="#contact" id="nav">Contact Us</a></li>
                <li><a href="#trainer" id="nav">Trainer</a></li>
                <li><a href="#about" id="nav">About</a></li>
                <li><a href="#" id="nav">Home</a></li>
            </ul>
        </nav>

        <div class="head">
            <h1>WHAT DO YOU MEAN NO GYM TODAY ! </h1>
           
            <p style="padding-top: 2rem; font-size: 2.2rem; color: blanchedalmond; font-family: 'Satisfy', cursive;"> Physical Fitness is very important 
                in a person’s life. Physically fit people are much more <br>
                productive &  successful in their life,  not only that; they hold a lot of health benefits over <br>
                the people who are not  fit.  They live their life to the full extent, and they  don’t have to <br>
                worry about their health.
            </p>
        </div>

        

    </div>
    
    

    <div id="about">
        <h1>About Us</h1>
            <div class="container">
                <img src="/static/img/cleangym.jpg" >
                <p>
                    Gym 24 provides a 24/7 Fitness facility to residents of Martinsville and Henry County, as well as surrounding areas to help people reach and maintain their goals. We combine different types of fitness equipment to meet different fitness needs and levels. <br>

At Gym 24 you’ll find all the latest strength and cardio equipment along with a energetic group exercise program that includes  Muscle Building and many other cardio classes. <br>

 Our Staff, Trainers & Group exercise instructors are committed to offering our members a great fitness experience. Whether you’re a mom looking to get back into shape, a marathon runner trying to shave a few minutes off your personal best or just trying to stay healthy we would love to help you realize your potential and meet your goals!! <br>
                <input type="button" value="More Details">
                </p>
        </div>
    </div>

    <div id="trainer">
        <h1>Trainer</h1>
        <div class="flex-container">
            <div class="flex-item" id="flex-item-1"><img src="/static/img/siddhu sir.jpeg" style="margin-bottom: .8rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <samp> Sidhu Kokane </samp> <p>After
                working as a personal trainer in a high profile gym in More India, Conrad is business man.</p>
            </div>
            <div class="flex-item" id="flex-item-2"><img src="/static/img/jyoti madam.jpeg">  <br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <samp> Jyoti Kokane</samp><br> <p>The past 15 years I have experi mented with hundreds of different training systems.</p>
            </div>
            <div class="flex-item" id="flex-item-3"><img src="/static/img/sunil sir.jpeg"> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <samp> Sunil Shinde </samp><p> I’ve acquired sport specific training experiences from working with the coaches at Doncaster Rovers.</p> 
            </div>
        </div>
    </div>

    <div id="contact">
        <h1 style=" font-family: 'Kaushan Script', cursive;">Contact Us</h1>
        <div class="container">
           
            <div class="box-1">
                <h2>Keep In Touch</h2>
                <p>We’ve answered our most common queries in the FAQs, but if you still can’t find the answer you’re looking for, use the contact form below so that we can assist you.
                </p>
                <p><i class="fa fa-user" aria-hidden="true" id="icon" style="font-size: 3.5rem; margin-top: 3rem;" ></i>&nbsp;&nbsp;&nbsp;&nbsp; Sidhu Kokane</p>
                <p><i class="fa fa-phone" style="font-size: 3.5reem;" id="icon" ></i>&nbsp;&nbsp;&nbsp;&nbsp; 9604561989  </p>
                <p><i class="fa fa-map-marker" style="font-size:3.5rem;" id="icon" ></i>&nbsp;&nbsp;&nbsp;&nbsp; Bhosari</p>
                <p><i class="fa fa-envelope" style="font-size: 3rem;" id="icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;sidhu.kokane@gmail.com </p>
            </div>

            <div class="box-2">
            
            <h2>Send Message</h2>
            <form action="/" method="post" class="myform">
              
                <input type="text" name="names" id="names" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;Name">
                <input type="email" name="emails" id="emails" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;Email Id" style="margin-left: 0rem; margin-top: .5rem;">
                <input type="text"  name="texts" id="texts" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;Any Query" style="width: 64.6rem; margin-top: .5rem;"><br>
                
                <input type="button" value="Send Message">
            </form>
            </div>
        </div>
    </div>

                      

    </header>
    
        
    <footer>
      <div class="container">

            <div class="left">
               <h2 style="font-size: 3rem; margin: 1rem;">Follow US</h2>
                <ul>
                   <li><a href="https://www.instagram.com"><i class='fa fa-instagram'></i>&nbsp;&nbsp; Instagram</a></li>
                   <li><a href="https://www.facebook.com"><i class='fa fa-facebook-official'></i>&nbsp;&nbsp; Facebook</a></li>
                   
                   <li><a href="https://www.youtube.com"><i class='fa fa-youtube-play'></i>&nbsp;&nbsp; Youtube</a></li>
                </ul>
            </div>

            <div class="right">
                <h2 style="font-size: 3rem; margin: 1rem;">Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, non recusandae? Quo beatae sed harum assumenda.  </p>
             </div>

             <div class="right-1">
                <h2 style="font-size: 3rem; margin: 1rem;">Useful Links</h2>
                 <ul>
                    <li><a href="#Home"><i class='fa fa-home'></i>&nbsp;&nbsp; Home</a></li>
                    <li><a href="#about"><i class='fa fa-send'></i>&nbsp;&nbsp; About</a></li>
                    <li><a href="#trainer"><i class='fa fa-podcast'></i>&nbsp;&nbsp; Trainers</a></li>
                    <li><a href="#contact"><i class='fa fa-phone-square'></i>&nbsp;&nbsp; Contact Us</a></li>
                    <li><a href="#admission"><i class='fa fa-university'></i>&nbsp;&nbsp; For Admission</a></li>
                 </ul>
             </div>
        
      </div>
      <hr>
      <div class="copy">
          <p>Copyright &copy; 2021 <span style="color: rgb(126, 248, 45); font-size: 1.8rem;">ACTIVE FITNESS</span> All rights reserved</p>
      </div>
   </footer>



</body>

</html>
<script src="/app.js"></script>